name: Deploy Frontend to Azure Storage Static Website

on:
  push:
    branches: [ "main" ]
    paths:
      - "frontend/**"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Upload to $web
        run: |
          az storage blob upload-batch \
            --account-name "${{ secrets.STORAGE_ACCOUNT_NAME }}" \
            --destination '$web' \
            --source "frontend" \
            --overwrite true \
            --auth-mode login
